:local(.sellerform){
    box-sizing: border-box;
    width: 1010px;
    padding: 0 30px;
    margin: 0 auto;
    background-color: rgba(255, 192, 203, 0.5);
    margin-top: -136px;
    padding-top: 136px;
}