:local(.sellerform){
    box-sizing: border-box;
    width: 1010px;
    padding: 0 30px;
    margin: 0 auto;
    background-color: rgba(255, 192, 203, 0.5);
    margin-top: -136px;
    padding-top: 136px;
    
    .setDataWrap{
        text-align: right;
    }
    .save_btn{
        display: inline-block;
        background-color: white;
        padding: 5px 30px;
        margin-bottom: 10px;
    }
}